.bagel-grid-container {        
    .bagel-grid-item {
        display: inline-block;
        margin: 10px;
        
        img {
            height: 200px;
        }
        
        width: 350px;
        height: 320px;
        background-color: $yellowish_white;
    } 
}