.bagel-grid-container {        
    .bagel-grid-item {
        display: inline-block;
        margin: 10px;
        
        img {
            height: 200px;
        }
        
        width: 350px;
        height: 340px;
        background-color: $yellowish_white;
        
        .bagel-item-btn {
            background-color: $dark !important;
            color: $tan !important;
            font-size: 11px !important;
        }
    } 

     @media (min-width: 1910px) { 
        & {
            width: 1480px;
        }
     }
     
     @media (max-width: 1910px) { 
        & {
            width: 1480px;
        }
     }

     @media (max-width: 1755px) { 
        & {
            width: 1110px;
        }
     }

     @media (max-width: 1385px) { 
        & {
            width: 740px;
        }
     }

    @media (max-width: 1013px) { 
        & {
            width: 740px;
        }
     }

    @media (max-width: 755px) { 
        & {
            width: 370px;
        }
     }

     @media (max-width: 700px) { 
        & {
            margin-top: 330px;
        }
    }

    @media (max-width: 580px) { 
        & {
            margin-top: 360px;
        }
    }

    @media (max-width: 496px) { 
        & {
            margin-top: 420px;
        }
    }

    @media (max-width: 475px) { 
        & {
            margin-top: 490px;
        }
    }
    
    @media (max-width: 325px) { 
        & {
            margin-top: 510px;
        }
    }

    @media (max-width: 385px) { 
        .bagel-grid-item {
            width: 300px;
        }

        & {
            width: 315px;
        }
     }

    @media (max-width: 335px) { 
        .bagel-grid-item {
            width: 250px;
        }

        & {
            width: 265px;
        }
     }

    @media (max-width: 340px) { 
        .bagel-grid-item {
            width: 200px;
            height: 275px;
            text-align: center;

            .bagel-item-btn {
                margin-bottom: 5px;
            }

            img {
                height: 120px;
            }
        }

        & {
            width: 215px;
        }
     }
}