@import 'variables';

body {
    background-color: $tan !important;
    font-family: 'Roboto', sans-serif !important;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
}

.main-stage-container {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 255px);
    height: 100vh;
    overflow-x: hidden !important;
    overflow-y: scroll !important;

    @media (max-width: 1012px) { 
        & {
            width: 100%;
        }
    }
}

.margin-center {
    margin: 0 auto;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.shadow {
    box-shadow: 0 3px 6px rgba(70,62,63,0.16), 0 3px 6px rgba(70,62,63,0.23);
    
    &:hover {
       box-shadow: 0 19px 38px rgba(70,62,63,0.30), 0 15px 12px rgba(70,62,63,0.22);
    }
}

.salmon-text {
    color: $salmon !important;
}

.styled-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 4px;

    &:focus {
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: white;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            color: white;
        }

        &:-ms-input-placeholder { /* IE 10+ */
            color: white;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: white;
        }
    }
}

.error-text {
    color: $salmon !important;

    &::-webkit-input-placeholder {
        color: $salmon !important;
        opacity: 0.7 !important;
    }
    
    &:-moz-placeholder { /* Firefox 18- */
        color: $salmon !important;  
        opacity: 0.7 !important
    }
    
    &::-moz-placeholder {  /* Firefox 19+ */
        color: $salmon !important;  
        opacity: 0.7 !important
    }
    
    &:-ms-input-placeholder {  
        color: $salmon !important;  
        opacity: 0.7 !important
    }
}

.error-border {
    border: 1px solid $salmon !important;
}

.pointer {
    &:hover {
        cursor: pointer !important;
    }
}