$white: rgb(255, 255, 255);
$tan: rgb(233,218,196);
$light_tan: rgb(240,230,215);
$yellowish_white: rgb(253,244,220);
$red: rgb(217,7,5);	
$salmon: rgb(240,91,79);
$yellow: rgb(244,198,61);
$brown: rgb(209,121,6);
$dark_brown: rgb(132,79,41);
$dark: rgb(70,62,63);
$blue: rgb(3,68,211);
$green: rgb(89,146,43);
$light_green: rgb(103,191,37);