.cart-container {
    width: 90% !important;
    margin: 0 auto !important;
    margin-top: 90px !important;
    padding-bottom: 15px !important;
    max-width: 1000px !important;

    @media (max-width: 745px) {
        & {
            max-width: none !important;
        }
    }

    .cart-paper {
        min-height: 400px;
        width: 100%;

        * {
            font-size: 25px !important;
        }
    }
}
