.cart-container {
    width: 90% !important;
    margin: 0 auto !important;
    margin-top: 15px !important;
    padding-bottom: 15px !important;
    max-width: 1000px !important;

    @media (max-width: 745px) {
        & {
            max-width: none !important;
        }
    }
}
