.home-container { 
    .home-img-container {
        .home-img-backdrop {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 270px;
            background-color: rgba(0,0,0, .5);
            z-index: 20;
        }

        .home-img-text {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 270px;
            z-index: 1000;
            padding-top: 10px;

            h1 {
                color: $tan;
                font-size: 60px;
            }

            h2 {
                color: $tan;
                font-style: italic;
            }
        }
        

        .home-img {
            width: 100%;
            max-width: 100%;
            height: 270px;
        }
    }

    @media (max-width: 1012px) { 
        &, .home-img-backdrop, .home-img-text {
            margin-top: 62px;
        }
    }

    @media (max-width: 700px) { 
        .home-img {
            display: none;
        }
    }

    @media (max-width: 580px) { 
       &, .home-img-backdrop, .home-img-text, .home-img {
            height: 300px !important;
        }
    }

    @media (max-width: 495px) { 
       &, .home-img-backdrop, .home-img-text, .home-img {
            height: 350px !important;
        }
    }

    @media (max-width: 475px) { 
       &, .home-img-backdrop, .home-img-text, .home-img {
            height: 410px !important;
        }
    }

    @media (max-width: 345px) { 
       &, .home-img-backdrop, .home-img-text, .home-img {
            height: 420px !important;
        }
    }

    @media (max-width: 325px) { 
       &, .home-img-backdrop, .home-img-text, .home-img {
            height: 440px !important;
        }
    }

    @media (max-width: 300px) { 
       &, .home-img-backdrop, .home-img-text, .home-img {
            height: 470px !important;
        }
    }

    @media (max-width: 290px) { 
       &, .home-img-backdrop, .home-img-text, .home-img {
            height: 540px !important;
        }
    }

    @media (max-width: 255px) { 
       &, .home-img-backdrop, .home-img-text, .home-img {
            height: 570px !important;
        }

        .social-btn {
            a {
                div {
                    div {
                        height: 300px !important;
                    }
                }
            }
        }
    }
}