.home-container { 

    .home-img-container {
        .home-img-backdrop {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 290px;
            background-color: rgba(0,0,0, .5);
        }
        
        h2 {
            position: absolute;
            top: 0;
            right: 0;
            padding-right: 50vw;
        }

        .home-img {
            width: 100%;
            max-width: 100%;
            height: 290px;
        }
    }
}